body{
 font-family:system-ui,-apple-system,Segoe UI,Roboto;
 background:#0f172a;
 color:white;
 margin:0;
 padding:10px;
}

.card{
 background:#1e293b;
 padding:16px;
 margin:12px 0;
 border-radius:16px;
 box-shadow:0 4px 18px rgba(0,0,0,.4);
 animation:fade .25s ease;
}

@keyframes fade{
 from{opacity:0; transform:translateY(10px)}
 to{opacity:1; transform:translateY(0)}
}

.option{
 padding:14px;
 margin:10px 0;
 background:#334155;
 border-radius:12px;
 cursor:pointer;
 font-size:17px;
 transition:.2s;
}

.option:active{
 transform:scale(.98);
}

.correct{background:#16a34a !important}
.wrong{background:#dc2626 !important}

button{
 width:100%;
 padding:16px;
 margin-top:12px;
 border:none;
 border-radius:14px;
 background:#3b82f6;
 color:white;
 font-size:18px;
 font-weight:600;
}

button:active{
 transform:scale(.97);
}

input{
 width:100%;
 padding:14px;
 border-radius:12px;
 border:none;
 margin-top:10px;
 font-size:17px;
 background:#1e293b;
 color:white;
}

#top{
 display:flex;
 justify-content:space-between;
 align-items:center;
 font-size:15px;
 margin-bottom:8px;
}

#barBox{
 height:8px;
 background:#1e293b;
 border-radius:10px;
 margin:10px 0;
}

#bar{
 height:100%;
 width:0%;
 background:#22c55e;
 border-radius:10px;
 transition:.3s;
}

canvas{
 width:100%;
 margin-top:15px;
 background:#020617;
 border-radius:14px;
}

@media (min-width:700px){
 body{
  max-width:600px;
  margin:auto;
 }
}
